@import '../core/variables';
.aboutSection{
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
        .aboutSectionH2{
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .aboutSectionP{
            font-weight: 100;
            margin-top: 15px;
            margin-bottom: 50px;
        }
        .socialIcons{
            margin-bottom: 50px;
            font-size: 24px;
            display: flex;
            justify-content: space-between;
            width: 60px;
            margin: auto;
        }
}

@media (max-width: 767px) {
    .aboutSection{
        text-align: center;
        margin-top: 10px;
        margin-left: 90px;
        margin-right: 90px;
    }
}
@media (max-width: 1024px) {
    .aboutSection{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 70px;
        margin-left: 90px;
        margin-right: 90px;
    }
}
@media (min-width: 1024px) {
    .aboutSection{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 70px;
        margin-left: 90px;
        margin-right: 90px;
    }
}

