@import '../core/variables';

.heroContainer {
    text-align: center;
    margin: 20px;
}
.heroImages {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px; /* Ajustamos para más espacio debajo de las imágenes */
    flex-wrap: wrap;
}
.heroImage {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.heroImage.hovered {
    z-index: 10;
}
.viewMoreButton {
    text-decoration: none;
    color: black;
    font-weight: 100;
}



@media screen and (max-width: 768px) {
    .heroImages {
        flex-direction: column; /* Las imágenes se apilan verticalmente */
        align-items: center; /* Alineamos las imágenes al centro */
        margin-top: 40px; /* Más espacio arriba para que no se solapen con el header */
    }
    .heroImage {
        width: 200px; /* Las imágenes ocupan todo el ancho disponible */
        height: 200px; /* Mantienen sus proporciones */
        margin-bottom: 20px; /* Espaciado entre imágenes */
    }
}