* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
body {
    background-color: rgb(247, 245, 245);
    font-family: 'Poppins', sans-serif;
    color: black;
}